*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Comic Neue";
  color: var(--text-color);
}

body {
  background-color: var(--bg-color);
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: #6e6e70;
}
body::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 5px;
  background-color: #b8b8b8;
}
body::-webkit-scrollbar-thumb {
  background-color: #6e6e70;
  outline: none;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 5px;
  background-color: #b8b8b8;
}
*::-webkit-scrollbar-thumb {
  background-color: #6e6e70;
  outline: none;
  border-radius: 10px;
}
